#sidebar-a .module-title,
#system div.item .module-title,
#content h1.module-title,
#sidebar-b .module-title,
#content .yoo-zoo header,
#sheet .mod-white .module-title,
#system h1.title,
.app-box>h3,
.app-box .app-widget-header>h3 {
  border-bottom: 4px solid #efefef;
  box-shadow: inset 0 -1px 0 #dedede;
}
#sheet .mod-color .module-title,
#sheet .mod-dark .module-title,
#utility .module .module-title {
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

/*sidebar a*/
#sidebar-a .module-title,
#system div.item .module-title,
#content h1.module-title {
  line-height: 38px;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  white-space: pre-wrap;
  margin-left: 0px;
}

/*sidebar b*/
#sidebar-b .module-title {
  line-height: 38px;
  padding: 0 0 5px;
  white-space: pre-wrap;
  margin-right: 0px;
}
